input[type="checkbox"]{
  appearance: none;
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  background-color: white;
  border: 1px solid oklch(87.2% 0.01 258.338);
  cursor: pointer;
  position: relative;
}

input[type="checkbox"]:checked{
    background-color: oklch(87.2% 0.01 258.338);
    border-color: oklch(87.2% 0.01 258.338);
}

input[type="checkbox"]::after {
    content: "";
    position: absolute;
    top: 2px;
    left: 6px;
    width: 6px;
    height: 12px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }
