{% extends "base.html" %}
{% load static %}

{% block titles %}
    Techlink | Perfil
{% endblock %}


{% block styles %}

{% endblock %}


{% block content %}

<main class="w-full flex flex-col bg-gray-100">
 <header class="bg-[#f5eee3bd] py-10 px-5 text-center md:py-[60px] md:px-5 md:text-left">
        <h1 class=" [-webkit-text-stroke:1px_black] text-[50px] font-bold leading-tight text-[#1D2026] md:text-[80px] lg:text-[100px] md:leading-normal mb-[10px] max-w-[90%] mx-auto md:max-w-none md:mx-0 md:ml-[100px] lg:ml-[265px]">Aprenda em qualquer lugar</h1>
        <p class="text-lg font-normal text-[#4E5566] md:text-[25px] mb-7 max-w-[90%] mx-auto md:max-w-[600px] md:mx-0 md:ml-[100px] lg:ml-[265px]">Transformamos vidas ao conectar pessoas aos melhores instrutores online, para que aprendam e cresçam onde estiverem, quando quiserem.</p>
        <a href="cadastro.html">
            <button class="bg-[#C90A02] hover:bg-red-800 font-semibold transition-colors text-white py-4 px-10 text-[15px] rounded-none cursor-pointer mx-auto md:mx-0 md:ml-[100px] lg:ml-[265px]">Crie Sua Conta</button>
        </a>
    </header>

    <div class="max-w-6xl mx-auto mt-16 px-4 flex flex-wrap lg:flex-nowrap gap-8 justify-center items-stretch">

        <div class="bg-[#752E2B] text-white flex items-stretch flex-1 basis-[500px] w-full max-w-[90%] lg:max-w-none">
            <div class="flex flex-col lg:flex-row justify-between items-center lg:items-stretch w-full p-8 gap-4 text-center lg:text-left">
                <div class="flex flex-col justify-center">
                    <h2 class="text-3xl font-bold mb-4">Torne-se um instrutor</h2>
                    <p class="mb-8 text-base leading-relaxed">Instrutores de todo o mundo ensinam milhões de alunos na TechLink. Nós fornecemos as ferramentas e habilidades para que você possa ensinar o que ama.</p>
                    <a href="#" class="self-center lg:self-start">
                        <button class="bg-white text-[#752E2B] border-none py-3 px-6 font-medium text-base cursor-pointer transition-colors hover:bg-gray-200">Comece A Ensinar <i class="fa-solid fa-arrow-right" style="color: #752E2B;"></i></button>
                    </a>
                </div>
                <div class="flex items-center justify-center mt-4 lg:mt-0 h-[280px]">
                    <img src="img/instrutor.png" alt="Homem apontando" class="h-full max-h-[180px] lg:max-h-[280px] object-contain">
                </div>
            </div>
        </div>

        <div class="bg-white p-8 flex-1 basis-[500px] w-full max-w-[90%] lg:max-w-none flex flex-col justify-center rounded">
            <h2 class="text-3xl font-bold text-gray-800 mb-8">Seus passos de ensino e ganhos</h2>
            <div class="grid grid-cols-1 sm:grid-cols-2 gap-x-8 gap-y-6">
                <div class="flex items-center gap-4">
                    <div class="flex-shrink-0 flex items-center justify-center h-12 w-12 rounded-full font-bold text-xl bg-indigo-100 text-indigo-600">1</div>
                    <p class="text-gray-700">Aplique para ser um instrutor</p>
                </div>
                <div class="flex items-center gap-4">
                    <div class="flex-shrink-0 flex items-center justify-center h-12 w-12 rounded-full font-bold text-xl bg-orange-100 text-orange-600">2</div>
                    <p class="text-gray-700">Construa e edite seu perfil</p>
                </div>
                <div class="flex items-center gap-4">
                    <div class="flex-shrink-0 flex items-center justify-center h-12 w-12 rounded-full font-bold text-xl bg-red-100 text-red-600">3</div>
                    <p class="text-gray-700">Disponibilize sua grade de horários</p>
                </div>
                <div class="flex items-center gap-4">
                    <div class="flex-shrink-0 flex items-center justify-center h-12 w-12 rounded-full font-bold text-xl bg-green-100 text-green-700">4</div>
                    <p class="text-gray-700">Comece a ensinar e a receber por isso!</p>
                </div>
            </div>
        </div>
    </div>

   <section class="py-16 sm:py-8 px-6">
  <div class="w-full max-w-[1480px] mx-auto bg-white py-12 px-4 sm:px-6 lg:px-8 border border-gray-200">
    
    <div class="text-center">
      <h2 class="text-3xl sm:text-4xl font-semibold text-gray-900">
        Top instrutores do mês
      </h2>
    </div>

    <div class="mt-12 grid grid-cols-[repeat(auto-fit,minmax(250px,1fr))] justify-items-center gap-x-1 gap-y-12">

      <div class="cursor-pointer flex flex-col text-center bg-white border border-gray-200 overflow-hidden transition-all duration-300 ease-in-out hover:shadow-2xl hover:-translate-y-2 w-[250px]">
        <div class="flex-shrink-0">
          <img class="h-56 w-full" src="{% static 'img/instrutor-teste.png'%}" alt="Foto de Caio Rodrigues">
        </div>
        <div class="flex-1 py-2 px-6 flex flex-col justify-center">
          <div>
            <h3 class="font-semibold text-gray-900">Caio Rodrigues</h3>
            <p class="mt-1 text-sm text-gray-500">Professor de Espanhol</p>
          </div>
        </div>
        <div class="border-t border-gray-200 bg-gray-50">
          <div class="px-6 py-3">
            <p class="text-sm font-medium text-gray-700">854 Alunos</p>
          </div>
        </div>
      </div>

      <div class="cursor-pointer flex flex-col text-center bg-white border border-gray-200 overflow-hidden transition-all duration-300 ease-in-out hover:shadow-2xl hover:-translate-y-2 w-[250px]">
        <div class="flex-shrink-0">
          <img class="h-56 w-full" src="https://i.imgur.com/L7b1l8A.png" alt="Foto de Pedro Henrique da Silva">
        </div>
        <div class="flex-1 py-2 px-6 flex flex-col justify-center">
          <div>
            <h3 class="font-semibold text-gray-900">Pedro Henrique da Silva</h3>
            <p class="mt-1 text-sm text-gray-500">Professor de Python</p>
          </div>
        </div>
        <div class="border-t border-gray-200 bg-gray-50">
          <div class="px-6 py-3">
            <p class="text-sm font-medium text-gray-700">451 Alunos</p>
          </div>
        </div>
      </div>
      
      <div class="cursor-pointer flex flex-col text-center bg-white border border-gray-200 overflow-hidden transition-all duration-300 ease-in-out hover:shadow-2xl hover:-translate-y-2 w-[250px]">
        <div class="flex-shrink-0">
          <img class="h-56 w-full" src="https://i.imgur.com/nJHSi1a.png" alt="Foto de Ana Beatriz de Souza">
        </div>
        <div class="flex-1 py-2 px-6 flex flex-col justify-center">
          <div>
            <h3 class="font-semibold text-gray-900">Ana Beatriz de Souza</h3>
            <p class="mt-1 text-sm text-gray-500">Professora de Inglês</p>
          </div>
        </div>
        <div class="border-t border-gray-200 bg-gray-50">
          <div class="px-6 py-3">
            <p class="text-sm font-medium text-gray-700">435 Alunos</p>
          </div>
        </div>
      </div>

      <div class="cursor-pointer flex flex-col text-center bg-white border border-gray-200 overflow-hidden transition-all duration-300 ease-in-out hover:shadow-2xl hover:-translate-y-2 w-[250px]">
        <div class="flex-shrink-0">
          <img class="h-56 w-full" src="https://i.imgur.com/sC2PNLg.png" alt="Foto de Felipe Ribeiro">
        </div>
        <div class="flex-1 py-2 px-6 flex flex-col justify-center">
          <div>
            <h3 class="font-semibold text-gray-900">Felipe Ribeiro</h3>
            <p class="mt-1 text-sm text-gray-500">Professor de Redação</p>
          </div>
        </div>
        <div class="border-t border-gray-200 bg-gray-50">
          <div class="px-6 py-3">
            <p class="text-sm font-medium text-gray-700">523 Alunos</p>
          </div>
        </div>
      </div>

      <div class="cursor-pointer flex flex-col text-center bg-white border border-gray-200 overflow-hidden transition-all duration-300 ease-in-out hover:shadow-2xl hover:-translate-y-2 w-[250px]">
        <div class="flex-shrink-0">
          <img class="h-56 w-full" src="https://i.imgur.com/u5V3I3s.png" alt="Foto de Igor dos Santos">
        </div>
        <div class="flex-1 py-2 px-6 flex flex-col justify-center">
          <div>
            <h3 class="font-semibold text-gray-900">Igor dos Santos</h3>
            <p class="mt-1 text-sm text-gray-500">Professor de Matemática</p>
          </div>
        </div>
        <div class="border-t border-gray-200 bg-gray-50">
          <div class="px-6 py-3">
            <p class="text-sm font-medium text-gray-700">214 Alunos</p>
          </div>
        </div>
      </div>
    </div>

    </div>
    </section>
</main>

   

{% endblock %}