{% extends "base_accounts.html" %}
{% load static %}


{% block titles %}
    Aula | Registro
{% endblock %}


{% block styles %}
    
{% endblock %}


{% block content %}
<div class="container d-flex justify-content-center align-items-center" style="height:100vh">
    <div class="col-3 m-5">
        <div class="card">
            <div class="card-body d-flex align-items-center flex-column">
                <h2 class="card-title m-3 mb-4" >Criar Conta</h2>

                <form method="post">
                    {% csrf_token %}
                    {{ form.non_field_errors }}
            
                    <div>
                        <label for="id_email">Email:</label>
                        {{ form.email }}
                        {{ form.email.errors }}
                    </div>
            
                    <div>
                        <label for="id_first_name">Nome:</label>
                        {{ form.nome }}
                        {{ form.nome.errors }}
                    </div>
            
                    <div>
                        <label for="id_last_name">Sobrenome:</label>
                        {{ form.sobrenome }}
                        {{ form.sobrenome.errors }}
                    </div>
            
                    <div>
                        <label for="id_cellphone">Celular:</label>
                        {{ form.telefone }}
                        {{ form.telefone.errors }}
                    </div>
        
            
                    <div>
                        <label for="id_password1">Senha:</label>
                        {{ form.password1 }}
                        {{ form.password1.errors }}
                    </div>
            
                    <div>
                        <label for="id_password2">Confirme a senha:</label>
                        {{ form.password2 }}
                        {{ form.password2.errors }}
                    </div>
            
                    <div>
                        <label for="tipo">Tipo de conta:</label>
                        {{ form.tipo }}
                        {{ form.tipo.errors }}
                    </div>


                    <div class="d-flex justify-content-between">
                        <a class="link-body-emphasis black w-50" href="{% url 'accounts:login' %}">Já tem uma conta? Voltar!</a>
                        <button class="btn btn-success" type="submit">Registrar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}


{% block scripts %}

{% endblock %}